Flask==1.1.2
Flask-Mail==0.9.1
Flask-WTF==0.15.1
html5lib==1.1
Jinja2==2.11.3
Tree==0.2.4
udiskie==2.3.3
urllib3==1.26.5
validate==5.1.0.dev0
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.4.1
